/* the styles for the elements */
html{
	background-image: url(../images/bats.gif);
}
body {
	font-family: sans-serif;
	width: 800px;
	margin: 1em auto;
	border: 1px solid black;
	box-shadow: 3px 15px 18px 10px black;
	background: white;
}
/* the styles for the header */
header	{
	border-bottom: 2px solid black;
	padding: 1em 0;
	background-image: -webkit-linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
	background-image: -moz-linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
	background-image: -o-linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
	background-image: linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
}
header h2 {
	font-size: 250%;
	color: black;
	text-indent: 1px;
	line-height: 3px;
}
label {
    float: none;
    width: 12em;
    text-align: right;
}
label, input, select {
	font-size: 90%;
}
input, select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}
#email_address {
	margin-left: 2.75em;
}
#zip_code {
	margin-left: 1.25em;
}
#submit {
	margin-left: 6em;
	border: 2px solid;
	background-color: orange;
	width: 150px;
}
#nav_bar ul {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav_bar ul li{
	float: left;
	padding: 0;}

#nav_bar ul li a{
	display: block;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 0.5em 0;
	font-size: 90%;
	width: 160px;
	text-align: center;
	font-weight: 200;
}

#nav_bar ul li a.current{
	color: #FFA500;
}

#nav_bar ul li a:hover, #nav_bar ul li a:focus {
	background-color: gray;
}

#nav_bar ul ul{
	display: none;
	position: absolute;
	top: 100%;
}

#nav_bar ul ul li{
	float: none;
	position: relative;
	font-size: 90%;
}

#nav_bar ul li:hover > ul{display:block;}

#nav_bar > ul::after{
	content: "";
	display: block;
	clear: both;
}
header h3 {
	font-size: 125%;
	text-indent: 1px;
	line-height: 0px;
}
header img {
	float:left;
	padding: 0.5em 1em;
}
aside{
	float: left;
	width: 160px;
	height: 600px;
	padding-right: 1em;
}
aside ul{
	list-style-type: none;
	margin-left: 0.5em;
}
#nav_vertical ul li{
	width: 108px;
	margin-bottom: 0.5em;
	border: 3px solid black;
	padding: 0;
}

#nav_vertical ul li a {
	display:block ;
	text-decoration: none;
	padding: 0.25em 0.5em;
	color: black;
	font-size: 100%;
	background-color: #FFA500;
	font-weight: bold;
}
#nav_vertical ul li a:hover, #nav_vertical ul li a:focus{background-color:gray;}
/* the styles for the main content */
main {
	clear: left;
}
section	{
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
body h1, h2, h3, p, ul {
	
}
body h1::first-letter{
	font-size: 200%;
	font-weight: bold;
}
body p{
	font-size: 100%;
	font-weight: 100;
}
a:link{ 
	color: #FFA500;
	font-weight: bold;
}
a:visited{color: #FFA500;}
a:hover, a:focus{color: green;}
ul {
	margin: 0 1.05em;
	padding-top: 2em;
	line-height: 1.5em;
}
li {
	font-size: 110%;
	padding-left: 0.25em;
}
#linespace {
	line-height: 0.5em;
}

#font {
	font-size: 150%;
	font-weight: bold;
}
/* the styles for the footer */
footer	{
	font-size: 90%;
	text-align:center;
	border-top: 2px solid black;
	padding: 0.5em 1em;
	line-height: 1px;
	clear:left;
	background: -webkit-linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
	background: -moz-linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
	background: -o-linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
	background: linear-gradient(45deg, black 0%, #FFA500 75%, white 100%);
}
footer p {
	text-align: center;
}